{% extends 'default.html' %}

{% block title %} {{posts.posts_title}} {% endblock %}

{% block content %}

<h2>{{posts.post_title}}</h2>

<em>{{posts.pub_date}}</em>

<p>{{posts.post_text}}</p>



{% if posts.was_published_recently %}
НОВАЯ СТАТЬЯ
{% endif %}


<hr>

{% if latest_comments_list %}
    {% for c in latest_comments_list %}
        <p>
            <strong>{{c.author_name}}</strong>
<form>
    <comment>
    {{c.comment_text}}
    <button type="submit" onclick=Rate=1>👍</button>
    <button type="submit" onclick="">👎</button>

    </comment>
    Рейтинг: {{c.rating}}
</form>

        </p>
    {% endfor %}
{% else %}
Коментарии не найдены! Станьте первым ;)
{% endif %}
      <script>
like()
        </script>

<hr>

<form action="{% url 'posts:leave_comment' posts.id %}" method="POST">

    {% csrf_token %}

    <input type="text" required placeholder="Ваше имя" name="name"><br>
    <textarea name="text" required="" placeholder="Текст комментария" cols="30" rows="10"></textarea><br>

    <button type="submit">Оставить комментарий</button>
</form>


{%endblock%}