{% extends 'default.html' %}

{% block title %} {{posts.posts_title}} {% endblock %}

{% block content %}

<h2>{{posts.post_title}}</h2>

<em>{{posts.pub_date}}</em>

<p>{{posts.post_text}}</p>



{% if posts.was_published_recently %}
НОВАЯ СТАТЬЯ
{% endif %}


<hr>

{% if latest_comments_list %}
    {% for c in latest_comments_list %}

<comment>
    <strong>{{c.author_name}}</strong>
    {{ c.comment_text }} {{c.rating}} {{c.id}}
    <form  action="{% url 'posts:like'%}" method="post">
      <button type="submit">👍</button>

    {% csrf_token %}
    </form>
            <form action="{% url 'posts:dislike'%}" method="post">
        {% csrf_token %}

        <button type="submit">👎</button>
        </form>

</comment>


    {% endfor %}
{% else %}
Коментарии не найдены! Станьте первым ;)
{% endif %}

<hr>

<form action="{% url 'posts:create_comment' posts.id %}" method="POST">

    {% csrf_token %}

    <input type="text" required placeholder="Ваше имя" name="name"><br>
    <textarea name="text" required="" placeholder="Текст комментария" cols="30" rows="10"></textarea><br>
    <button type="submit">Оставить комментарий</button>
</form>


{%endblock%}
