{% extends 'default.html' %}
{% block title %}Последние статьи {% endblock %}
{% block content %}

    {% if latest_posts_list %}
<h1>
    Всего публикаций: {{ latest_posts_list | length }}
</h1>

      {% for p in latest_posts_list %}

<h3>
    {% if p.was_published_recently %}
    <font color="red">НОВАЯ СТАТЬЯ</font>
    {% endif %}<br>
            <a href="{% url 'posts:detail' p.id %}"> {{ p.post_title }}</a> {{p.pub_date}}<br>
</h3>

{{ p.post_text | truncatewords:20 }}<br>

Рейтинг: {{p.rating}}<br><br>

    {% endfor %}

    {% else %}
        Статьи не найдены =(
    {% endif %}

{% endblock content %}
